@use 'variaveis';

.header {

    &__logo {
        position: absolute;
        top: 0;
        left: 36%;
        width: 100%;
        max-width: 350px;
        background-color: transparent;
    }

    .hero {
        width: 100%;
        opacity: 60%;
    }

    .nav__list {
        list-style: none;
        position: absolute;
        top: 20%;
        left: 10%;
        display: flex;
        background-color: variaveis.$corFundo;
        padding: 10px;

        &__item {
            &:nth-child(2) {
                margin: 0 24px;
            }

            a {
                font-family: MKtitle;
                font-size: 24px;
                text-decoration: none;
                letter-spacing: 1px;
                color: variaveis.$corTitulo;

                &:hover {
                    color: #c52d15;
                }
            }
        }
    }
}